<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->

  <div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 fixed-top" style="background-color: black; height: 70px">
      <img src="/assets/images/logo.png" style="max-height:70px;" alt="logo">
     <!-- <h5 class="my-0 mr-md-auto font-weight-normal">Aydın Mefruşat</h5> -->
     <nav class="my-2 my-md-0 mr-md-3  " style="font-size:larger;">
         <a class="p-2 text-white" href="">Hakkımızda</a>
         <a class="p-2 text-white" href="">Yaptığımız İşler</a>
         <a class="p-2 text-white" href="">Bize Ulaşın</a>
         
     </nav>
     <div class="d-flex align-items-center">
         <a class="position-relative">
             <i class="fa fa-shopping-cart fa-2x mr-5 text-white"></i>
             <div class="cart-no">5</div>
         </a>
         <a class="btn btn-outline-success mr-2">Login</a>
         <a class="btn btn-outline-danger mr-3">Sign Up</a>
     </div>
     
  </div>
