
<div *ngIf="basket!=null" class="container mt-5">
    <h3 class="container" style="margin-top:150px"><strong>Sepet İşlemleri</strong></h3>
    <div class="pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 py-5 mb-1">
                    <app-basket-summary
                    (decrement)="decrementItemQuantity($event)"
                    (increment)="incrementItemQuantity($event)"
                    (remove)="removeBasketItem($event)"
                    ></app-basket-summary>
                </div>
            </div>
            <div class="row">
                <div class="col-6 ">
                    <app-order-totals>
                    </app-order-totals>
                    <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block">
                    <strong><b>Ödeme Yap</b></strong>
                    </a>
                </div>
                <div class="col-6" style="margin-top:120px">
                    <a href="" style="color:green"><i class="fa fa-whatsapp" style="font-size:40px; color:green"></i>
                    <span><strong class="ml-2" style="font-size:20px;  padding:11px;">05525628707</strong> </span></a>
                    <div>
                        <strong>Whatsapp üzerinden sorularınızı sorabilir ve bilgi alabilirsiniz </strong>
                    </div>
                    <br>
                   <a href="" > <i class="fa fa-instagram" style="font-size:40px;"> </i>
                    <span><strong class="ml-2" style="font-size:20px;  padding:11px;">aydinmefrusat1977</strong> </span></a>
                   <div>
                    <strong>İnstagram sayfamızı ziyaret edebilirsiniz. </strong>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>



 
