.jumbotron
{
    background-image: url("/assets/images/bg.jpg");
    background-size:cover;
    height: 480px;
    margin-bottom: 30px;
    opacity:0.8;
}

.form-control{
    border-radius: 20px;
}

.list-group-item:hover{
    background-color:lightgray;
}