<div class="jumbotron">
    <div class="p-5 rounded-3">
          <div class="container">
              <br>
              <br>
            <h1 class="display-5 fw-bold" style="color:whitesmoke; text-align:center; height:150px ">Aydın Mefruşat 1977'den beri hizmetinizde...</h1>
              <br>
            <p class="col-md-12 " style="color:whitesmoke; text-align:center; font-size: 35px; ">Ürün Seç.. Fiyat Al.. Sipariş Ver..</p>
    <!--        <button class="btn btn-primary btn-lg" type="button" >Ürünleri Gör</button>-->
          </div>
        </div>
              </div>
<div class="container mt-5">
<div class="row">
   <section class=col-3> <ul class="list-group mt-3">
       <h5 class="text-warning ml-3">Gelişmiş Sıralama</h5>
       <select class="custom-select mb-3">
            <option selected>Alfabetik</option>
            <option>Fiyata Göre: Önce Düşük</option>
            <option>Fiyata Göre: Önce Yüksek</option>
       </select>

       <h5 class="text-danger ml-3">Kategoriler</h5>
    <li class="list-group-item active" aria-current="true">An active item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul>
  <h5 class="text-success ml-3 mt-4">Markalar</h5>
  <ul class="list-group">
    
 <li class="list-group-item active" aria-current="true">An active item</li>
 <li class="list-group-item">A second item</li>
 <li class="list-group-item">A third item</li>
 <li class="list-group-item">A fourth item</li>
 <li class="list-group-item">And a fifth one</li>
</ul>
  
</section>

   <section class=col-9> <div class="album py-5 bg-light">
      
     <div class="d-flex justify-content-between align-items-center pb-2">
         <header>
             <span><strong>18</strong> de <strong>10</strong> Sonuç Gösteriliyor </span>
         </header>
         <div class="form-inline mt-2">
             <input type="text" class="form-control" style="width:300px;" placeholder="Arama Yap" >
             <button class="btn btn-outline-primary ml-2 my-2">Ara</button>
             <button class="btn btn-outline-success ml-2 my-2">Temizle</button>
         </div>
     </div>

    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="" *ngFor="let item of products">
               <app-product-item [product]="item"></app-product-item>
          </div>
    </div>
  </div>
  </div>
</section>
</div>
</div>