<div class="jumbotron">
    <div class="p-5 rounded-3">
          <div class="container">
              <br>
              <br>
            <h1 class="display-5 fw-bold" style="color:whitesmoke; text-align:center; height:150px ">Aydın Mefruşat 1977'den beri hizmetinizde...</h1>
              <br>
            <p class="col-md-12 " style="color:whitesmoke; text-align:center; font-size: 35px; ">Ürün Seç.. Fiyat Al.. Sipariş Ver..</p>
    <!--        <button class="btn btn-primary btn-lg" type="button" >Ürünleri Gör</button>-->
          </div>
        </div>
              </div>
              <div class="container " style="margin-top:50px; margin-left:280px">
                <div class="row">
                    <div>
                <a href="" style="color:green"><i class="fa fa-whatsapp" style="font-size:40px; color:green"></i>
                <span><strong class="ml-2" style="font-size:20px;  padding:11px;">05525628707</strong> </span></a>
                <div>
                    <strong>Whatsapp üzerinden sorularınızı sorabilir ve bilgi alabilirsiniz </strong>
                </div>
            </div>
                <div style="margin-left:200px">
               <a href="" > <i class="fa fa-instagram" style="font-size:40px;"> </i>
                <span><strong class="ml-2" style="font-size:20px;  padding:11px;">aydinmefrusat1977</strong> </span></a>
               <div>
                <strong>İnstagram sayfamızı ziyaret edebilirsiniz. </strong>
               </div>
            </div>
            </div>
            </div>
<div class="container mt-5">
<div class="row">
   <section class=col-3> 
       <h5 class="text-warning ml-3">Gelişmiş Sıralama</h5>
       <select class="custom-select mb-3" (change)="onSortSelected($event.target.value)">
            <option *ngFor="let sort of sortOptions" [value]="sort.value">{{sort.name}}</option>
           
       </select>

    <h5 class="text-danger ml-3">Kategoriler</h5>

    <ul class="list-group my-3">
        <li 
        class="list-group-item "  *ngFor="let brand of brands"
         [class.active]="brand.productBrandId === this.shopParams.brandId"
         [value]="brand.productBrandId"
         (click)="onBrandSelected(brand.productBrandId)"
         > {{brand.productBrandName}}
         </li>
    </ul>
    
    
  <h5 class="text-success ml-3 mt-4">Markalar</h5>

  <ul class="list-group">
       <li 
       class="list-group-item "  *ngFor="let type of types"
       [class.active]="type.productTypeId === this.shopParams.typeId"
       [value]="type.productTypeId"
       (click)="onTypeSelected(type.productTypeId)"
       >
       {{type.productTypeName}}</li>
  </ul>
  
</section>

   <section class=col-9> <div class="album py-5 bg-light">
      
     <div class="d-flex justify-content-between align-items-center pb-2">
      <app-paging-header [totalCount]="totalCount"
        [pageSize]="this.shopParams.pageSize"
        [pageNumber]="this.shopParams.pageNumber">
      </app-paging-header>
         <div class="form-inline mt-2">
             <input (keyup.enter)="onSearch()" type="text" class="form-control" style="width:300px;" #search placeholder="Arama Yap" >
             <button class="btn btn-outline-primary ml-2 my-2" (click)="onSearch()">Ara</button>
             <button class="btn btn-outline-success ml-2 my-2" (click)="onReset()">Temizle</button>
         </div>
     </div>

    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="" *ngFor="let item of products">
               <app-product-item [product]="item"></app-product-item>
          </div>
    </div>
  </div>
  </div>
  <div class="d-flex justify-content-center">
     <app-pager
     [pageSize]="shopParams.pageSize"
     [totalCount]="totalCount"
     (pageChanged)="onPageChanged($event)"
     ></app-pager>
  </div>
</section>
</div>
</div>