<div class="cover">
<div class="d-flex justify-content-center " style="padding-top: 250px;">
  <div class="col-3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="form">
      <h1 class="h3 mb-3 fw-normal" style="text-align:center; font-weight:bold;padding-top:20px;">Giriş Yap</h1>
      <div class="form-floating">
        <label class="label" for="floatingInput">Email Address</label>
        <input
          formControlName="email"
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <span class="text-danger" *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched && loginForm.get('email').errors['required']">
          Email adresi doldurulmalıdır.
      </span>
      <span class="text-danger" *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched && loginForm.get('email').errors['pattern']">
          Email adresinizi tam giriniz.
      </span>
        
      </div>
      <div class="form-floating">
        <label class="label" for="floatingPassword">Password</label>
        <input
        formControlName="password"
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
        <span class="text-danger" *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched && loginForm.get('password').errors['required']">
          Şifre Alanı doldurulmalıdır.
      </span>
      </div>

      <br>
      <button [disabled]="loginForm.invalid" class=" btn btn-lg btn-primary btn-block" style="width: 150px;margin-left: 100px;" type="submit">
        Giriş Yap
      </button>
      <p class="mt-5 mb-3 text-muted" style="text-align:center;color:black;font-weight:bold;padding-bottom:20px;" >© Aydın Mefruşat 1977</p>
    </form>
  </div>
</div>
</div>
