
<ng-container *ngIf="basket$| async">
<div class="table-responsive">
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th class="border-0 bg-light " scope="col">
                        <div class="p-2 px-5 text-uppercase">Ürünler</div>
                    </th>
                    <th scope="col" class="border-0 bg-light"  >
                        <div class="py-2 px-5 text-uppercase" style="margin-left: 5px;">Fiyat</div>
                    </th>
                    <th scope="col" class="border-0 bg-light"> 
                        <div class="py-2 px-5 text-uppercase">Adet</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                        <div class="py-2 px-5 text-uppercase">Toplam </div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                        <div class="py-2 px-5 text-uppercase">Sil</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of basket.items">
                    <th scope="row" class="md-6">
                        <div class="p-8">
                            <img src="{{item.pictureUrl}}" alt="{{item.productName}}" class="img-fluid" style="height: 70px; width:120px;">
                            <div class="ml-2 d-inline-block align-middle">
                                <h5 class="mb-0">
                                    <a routerLink="/shop/{{item.id}}" class="text-dark ml-3">{{item.productName}}</a>
                                </h5>
                                <span
                                    class="text-muted font-wight-normal font-italic d-block ml-3">Type: {{item.type}}</span>
                            </div>
                        </div>
                    </th>
                    <td class="align-middle p-2 px-5" ><strong style="margin-left: 15px;">{{item.price | currency}}</strong></td>
                    <td class="align-middle ">
                        <div class="d-flex align-items-center">
                            <i *ngIf="isBasket" (click)="decrementItemQuantity(item)" class="fa fa-minus-circle text-warning mr-2 "
                                style="cursor:pointer; font-size: 2em; margin-left: 26px;"></i>
                            <span class="font-weight-bold" style="font-size: 1.5em;">{{item.quantity}}</span>
                            <i *ngIf="isBasket" (click)="incrementItemQuantity(item)" class="fa fa-plus-circle text-warning mx-2"
                                style="cursor: pointer; font-size: 2em;"></i>
                        </div>
                    </td>
                    <td class="align-middle">
                        <strong style="margin-left: 53px;">{{item.price * item.quantity |currency}}</strong>
                    </td>
                    <td class="align-middle text-center">
                        <a class="text-danger">
                            <i (click)="removeBasketItem(item)" class="fa fa-trash" style="font-size: 2em; cursor: pointer;"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</ng-container>